<form class="add-post-form">
    <div>
    <label htmlFor="title">Title:</label>
    <input type="text" id="title"/>
    </div>

    <div>
    <label htmlFor="notes">Notes:</label>
    <input type="text" id="notes"/>
    </div>

    <button type="submit">Add Post</button>
</form>

<script src="/javascript/addpost.js"></script>