<ol>
  {{#each posts}}
  <li>
    <article class="post">
      <div>
        <a href="{{post_title}}" target="_blank">{{title}}</a>
        <span>({{notes}})</span>
      </div>
    </article>
  </li>
  {{/each}}
</ol>